<header id="header-wrap" class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div id="header-main" class="navbar-inner">
    <div id="navcontainer">
      <div class="topmargin">
        <ul class="nav pull-right">
          <li class="<%= 'activeNav' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'activeNav' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
          <li class="<%= 'activeNav' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>