<div id="navcontainer">
  <div class="row-fluid">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <ul>
        <li class="<%= 'activeNav' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'activeNav' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
        <li class="<%= 'activeNav' if current_page?(resume_path) %>"><%= link_to "Resume", resume_path %></li>
      </ul>
    </div>
  </div>
</div>