<div id="navcontainer">
  <div class="row-fluid text-center">
    <!--<div class="col-xs-2 col-xs-offset-5 col-sm-4 col-sm-offset-4 text-center">-->
      <ul>
        <li class="<%= 'activeNav' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'activeNav' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
        <li class="<%= 'activeNav' if current_page?(resume_path) %>"><%= link_to "Resume", resume_path %></li>
      </ul>
    <!--</div>-->
  </div>
</div>